.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 20px;
}

.left-section {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.slogan {
  font-size: 36px;
}

.right-section {
  margin-top: 48px;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  /* min-height: 210px; */
}

.social-icons {
  display: flex;
}

.icon-link {
  color: black;
  margin-right: 10px;
}

.icon-link i {
  font-size: 20px;
}
.newsletter {
  position: relative;
}

.newsletter input {
  padding: 14px 40px 14px 0px !important;
  margin-bottom: 10px;
  width: 440px;
  border: none;
  border-bottom: 1.6px solid black;
  background-color: transparent;
  color: #141414;
  outline: none;
}

.text-above-input {
  position: absolute;
  top: -28px;
  color: black;
  font-size: 12px;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
  margin-right: 5px;
}

.arrow-btn {
  position: absolute;
  top: 20%;
  right: 0;
  cursor: pointer;
}

.social-icons {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.social-icon {
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 1px;
  margin-left: 24px;
}
.social-icons-title {
  margin-bottom: 14px;
  margin-right: 76px;
}

@media (max-width: 980px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }

  .left-section {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .logo {
    margin-bottom: 0px;
  }

  .slogan {
    font-size: 24px;
  }

  .right-section {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
  }

  .newsletter {
    position: relative;
    width: 100%;
  }

  .newsletter input {
    width: 100%;
    padding: 14px 0px 14px 0px !important;
  }

  .text-above-input {
    width: 100%;
    max-width: 100%;
    top: -20px;
  }

  .social-icons {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .right-section {
    min-height: fit-content;
  }
}
